# Convert Staging SDK Key
CONVERT_STAGING_SDK_KEY=
CONVERT_STAGING_SDK_KEY2=
CONVERT_STAGING_SDK_KEY2_SECRET=

# Logger
LOG_LEVEL=2

# Docs Sever
PORT=3001

CONFIG_ENDPOINT='https://cdn-4.convertexperiments.com/api/v1/'
TRACK_ENDPOINT='https://[project_id].metrics.convertexperiments.com/v1/'
