extends layout

block content
  .container
    .page-header
      .row
        .col-lg-8.col-md-7.col-sm-6
          h1= title
          p.lead by Convert Team
        .col-lg-4.col-md-5.col-sm-6
          .card.border-light.mb-3(style="max-width: 20rem;")
            .card-header Tip
            .card-body
              h4.card-title Controlled Card
              p.card-text
                | Look for this card will display when 
                strong Test Feature Rollout 
                | is enabled 
                br
                | check 
                em js-sdk-config.json
